.web {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: x-large;
    padding-top: 20px;
}

.smk {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bolder;
    color: blue;
    font-size: x-large;
}

.smk2{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    
}

.smk3{
    letter-spacing: 2px;
    line-height: 30px;
    font-family:'Courier New', Courier, monospace
}

.ib1 {
    color: blue;
    background-color: lightblue;
    line-height: 45px;
}

.ib2 {
    color: red;
    background-color: lightcoral;
    line-height: 45px;

}

.ib3 {
    color: green;
    background-color: lightgreen;
    line-height: 45px;
}

.name {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.name2{
    color: brown;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    
}